@using DataService.DomainModel;

@model DataService.Route

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

   
        <br /> 
            <p>Название: @Model.Name</p>
            <p>Откуда: @Model.To</p>
            <p>Куда: @Model.From</p>
            @*@foreach (var p in Model.Points)
            {
                <li>Точка <b>@p.Name</b>= @p.X; @p.Y  </li>
            }*@
<br />


@*<div id="edit">
    @Ajax.ActionLink("Редактировать", "EditRoute",
            new AjaxOptions { UpdateTargetId = "edit" })
</div>*@
    